.bleu legend{
  background-color: #3D8CFF;
  width:13%;
}
.bleu{
  background-color: #3D8CFF;
}
.violet legend{
  background-color: #A54BFF;
  width:19%;
}
.violet{
  background-color: #A54BFF;
}
.rose legend{
  background-color: #FF5CF5;
  width: 25%;
}
.rose{
  background-color: #FF5CF5;
}
